{% extends 'base.html' %}

{% block title %}{{ service.name }}{% endblock %}

{% block content %}
    <a href="{% url 'service_list' %}" class="back-link">← Назад к списку</a>
    
    <div class="service-detail">
        <div class="service-image">
            <img src="/static/images/{{ service.image }}" alt="{{ service.name }}">
        </div>
        <div class="service-info">
            <h1>{{ service.name }}</h1>
            <p class="price">{{ service.price }} руб.</p>
            <p><strong>Доступные даты:</strong> {{ service.dates }}</p>
            <p><strong>Длительность:</strong> {{ service.duration }}</p>
            <p class="description">{{ service.description }}</p>
        </div>
    </div>
{% endblock %}